@model slnBelgradoAriana.Models.Receta

@section Aside {
    <h1>Bienvenida</h1>
    <img src="~/img/1.jpg" alt="foto 1" />
    <img src="~/img/2webp.jpg" alt="foto 2" />
    <img src="~/img/3.jpg" alt="foto 3" />
}

@{
    ViewData["Title"] = "Detalle de Receta";
}

    <h2>Ver Detalle</h2>
    @Html.ActionLink("Volver crear Receta ","Index","Receta")

<p>
        @Html.DisplayNameFor(model=>model.Categoria)
        @Html.DisplayFor(model=>model.Categoria)
    </p>
    <p>
        @Html.DisplayNameFor(model=>model.Ingredientes)
        @Html.DisplayFor(model=>model.Ingredientes)
    </p>
    <p>
        @Html.DisplayNameFor(model=>model.Autor)
        @Html.DisplayFor(model=>model.Autor)
    </p>
    <p>
        @Html.DisplayNameFor(model=>model.Apellido)
        @Html.DisplayFor(model=>model.Apellido)
    </p>
    <p>
        @Html.DisplayNameFor(model=>model.Email)
        @Html.DisplayFor(model=>model.Email)
    </p>
    <p>
        @Html.DisplayNameFor(model=>model.Edad)
        @Html.DisplayFor(model=>model.Edad)
    </p>

