@model IEnumerable<slnBelgradoAriana.Models.Receta>

@section Aside {
    <h1>Bienvenida</h1>
    <img src="~/img/1.jpg" alt="foto 1" />
    <img src="~/img/2webp.jpg" alt="foto 2" />
    <img src="~/img/3.jpg" alt="foto 3" />
}

@{
    ViewData["Title"] = "Inicio de Receta";
}

@Html.ActionLink("Crear Receta ","Create","Receta")

        <table>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Categoria)</th>
            <th>@Html.DisplayNameFor(model => model.Ingredientes)</th>
            <th>@Html.DisplayNameFor(model => model.Instrucciones)</th>
            <th>@Html.DisplayNameFor(model => model.Autor)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Edad)</th>
            <th></th>

        </tr>


    @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.Titulo,"Details", "Receta", new{id = item.Id})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredientes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instrucciones)
                </td>
                <td>
                @Html.ActionLink(item.Autor,"IndexByAutor", "Receta", new{autor = item.Autor})
                </td>
                <td>
                @Html.ActionLink(item.Apellido,"IndexByApellido", "Receta", new{apellido = item.Apellido})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
            @Html.DisplayFor(modelItem => item.Edad)
            </td>

                <td>
                    @Html.ActionLink("Detalle","Details", "Receta", new{id=item.Id})
                <td />
            </tr>
        }

        </table>